<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully created an account at skillcat. Nice place to learn & its very useful for professionals.</p>
  <hr>
  <p class="mb-0">Welcome Aboard!</p>
</div>